<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.9">
    <actions/>
    <description></description>
    <keepDependencies>false</keepDependencies>
    <properties>
        <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
            <triggers/>
        </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
    </properties>
    <definition class="org.jenkinsci.plugins.workflow.cps.CpsScmFlowDefinition" plugin="workflow-cps@2.28">
        <scm class="hudson.plugins.git.GitSCM" plugin="git@3.0.5">
            <configVersion>2</configVersion>
            <userRemoteConfigs>
                <hudson.plugins.git.UserRemoteConfig>
                    <url>http://localhost:8080/userContent.git</url>
                </hudson.plugins.git.UserRemoteConfig>
            </userRemoteConfigs>
            <branches>
                <hudson.plugins.git.BranchSpec>
                    <name>*/master</name>
                </hudson.plugins.git.BranchSpec>
            </branches>
            <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
            <submoduleCfg class="list"/>
            <extensions>
                <hudson.plugins.git.extensions.impl.SparseCheckoutPaths>
                    <sparseCheckoutPaths>
                        <hudson.plugins.git.extensions.impl.SparseCheckoutPath>
                            <path>Analyse-Jenkins</path>
                        </hudson.plugins.git.extensions.impl.SparseCheckoutPath>
                    </sparseCheckoutPaths>
                </hudson.plugins.git.extensions.impl.SparseCheckoutPaths>
            </extensions>
        </scm>
        <scriptPath>Analyse-Jenkins/Jenkinsfile.jenkins</scriptPath>
    </definition>
    <triggers/>
</flow-definition>